// "Teal" color pallete
// @link http://www.google.com/design/spec/style/color.html#color-ui-color-palette

$color-100: #b2dfdb;
$color-200: #80cbc4;
$color-300: #4db6ac;
$color-400: #26a69a;
$color-500: #009688;
$color-600: #00897b;
$color-700: #00796b;
$color-800: #00695c;
$color-900: #004d40;

$color-link: #0277bb;
$color-link-hover: #01476f;
